
<div class="product-container">

  <h1>Product Management</h1>

  <div class="search-box">
    <input
      type="text"
      placeholder="Search products..."
      #searchInput
      (input)="searchProducts(searchInput.value)"
    />

    <button (click)="loadProducts()">
      Load All Products
    </button>
  </div>

  @if (loading()) {
    <p class="loading">Loading products...</p>
  }

  @if (failerror()) {
    <p class="error">{{ failerror() }}</p>
  }

  <div class="products">

    @for (product of products(); track product.id) {
      <div class="product-card">
        <h3>{{ product.title }}</h3>
        <p>₹{{ product.price }}</p>
      </div>
    }

  </div>

</div>
<router-outlet />